/* SCSS Variables */
$whole: 100%;
$threequarters: 75%;
$half: 50%;
$quarter: 25%;
$tenth: 10%;

$mainfont: roboto;
$secondaryfont: roboto-light;

$left: left;
$right: right;

$main: #EBF6F8;
$orange: #FF5C00;
$grey: #EBEBEB;
$black: #000000;
$white: #FFFFFF;

$breakpoint-tablet: 768px;


body {
  margin: 0;
}
// Global Formatting
.price__format {
  color: $orange;
  font-family: $mainfont;
  letter-spacing: 1px;
}

.button__format {
  font-family: $mainfont;
  background-color: $orange;
  display: block;
  border-radius: 30px;
  height: 50px;
  color: $white;
  margin: 0 auto;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;  
}

.cart_remove__format {
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.block__cart_loader_cont {
  display: inline-block;
}

.block__cart_loader {
  border: 8px solid white;
  border-top: 8px solid $black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-top: 6px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: $mainfont;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: $secondaryfont;
  src: url(../fonts/OpenSans-Regular.ttf);
}

.primary__font {
  font-family: $mainfont;
}

.secondary__font {
  font-family: $secondaryfont;
}

/* Nav Bar */
.nav--full-width {
  width: $whole;
}
.nav {
  display: inline-block;

  .nav--right {
    float: $right;
  }

  .nav__logo {
    width: 150px;
  }
  
  .nav__cart {
    width: 34px;
    float: $left;
    position: relative;
  }

  .nav--element {
    padding: 50px;
  }
}

.nav__cart_counter {
  position: absolute;
  width: 34px;
  line-height: 50px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/* Content Block */
.block--full-width {
  width: $whole;
}

.block {
  display: block;

  .block--half {
    width: $half;
    display: block;
  }

  .block--half-left {
    float: $left; 
  }

  .block--half-right {
    float: $right;
  }

  .block__text {
    text-align: center;
    padding: 20% 15%;
  }
  .block__h2 {
    font-size: 40px;
  }
  .block__p{
    font-size: 20px;
    line-height: 28px;
    opacity: 70%;
  }
/* Product Card */
  .block--product-card {
    width: 350px;
    background-color: $white;
    margin: 10% auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px lightgrey;
  }

  .block__product_img {
    width: $whole;
  }

  .block--product-info {
    padding: 0 20px 30px 20px;
  }

  .block__product_button {
  width: 75%;
  }
}

/* Cart Drawer */
.cart--drawer {
  position: fixed;
  max-width: 300px;
  width: 300px;
  height: 340px;
  background-color: $white;
  right: -300px;
  transition: 0.5s;
}

.cart--drawer-wrapper {
  width: 100%;
  height: 340px;
  display: inline-block;
}

.cart__close {
  float: right;
  width: 20px;
  padding: 15px;
  cursor: pointer;
}

.cart--drawer-nav {
  width: 100%;
  height: 50px;
}

.cart__drawer_title {
  float: left;
  padding: 0px 20px;
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.cart--text-center {
  text-align: center;
}

.cart--drawer-confirmation {
  background-color: #9feaa3;
  height: 40px;
  line-height: 40px;
  opacity: 0;
}

.drawer--active {
  right:0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px lightgrey;
  overflow-y: scroll;
  max-height: calc(100% - 40%);
}

/* Hiding scroll bar */
.drawer--active::-webkit-scrollbar {
  display: none;
}
.drawer--active {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart--drawer-img {
  width: 50%;
  float: left;
  font-size: 16px;
}

.cart__product_title {
  width: 50%;
  float: right;
  text-align: left;
  margin: 0;
}

.cart--info-cont > .price__format {
  margin: 0;
}

.cart--info-cont p {
  padding-top: 5px;
  width: 50%;
  float: right;
  text-align: left;
  margin: 0;
}

.cart--info-cont p:first-of-type {
  padding-top: 15px;
}

.cart__product_button {
  width: 90%;
  float: left;
  text-align: center;
  margin: 5%;
}

.cart__confirmation_p {
  margin-top: 0;
}

.cart--info-cont > .cart__drawer_price {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

/* Media Queries */

@media (max-width: $breakpoint-tablet) {
  .block > .block--half-left, .block > .block--half-right {
    width: 100%;
  }

  .block > .block--half-right {
    background-color: $main;
  }
  .block > .block--half > .block__text {
    padding: 0px 15% 50px 15%;
  }
}
@media (min-width: 769px) {
  body {
  background: linear-gradient(
    to right, 
    $white 0%, 
    $white 50%, 
    $main 50%, 
    $main 100%
  );
  }
}

@media (max-width: $breakpoint-tablet) {
  .nav > .nav--element {
    padding: 30px;
  }
}
@media (max-width: 380px) {
.block .block--product-card {
  width: 300px;
  }
}