/* SCSS Variables */
body {
  margin: 0;
}

.price__format {
  color: #FF5C00;
  font-family: roboto;
  letter-spacing: 1px;
}

.button__format {
  font-family: roboto;
  background-color: #FF5C00;
  display: block;
  border-radius: 30px;
  height: 50px;
  color: #FFFFFF;
  margin: 0 auto;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.cart_remove__format {
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.block__cart_loader_cont {
  display: inline-block;
}

.block__cart_loader {
  border: 8px solid white;
  border-top: 8px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-top: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(../fonts/OpenSans-Regular.ttf);
}
.primary__font {
  font-family: roboto;
}

.secondary__font {
  font-family: roboto-light;
}

/* Nav Bar */
.nav--full-width {
  width: 100%;
}

.nav {
  display: inline-block;
}
.nav .nav--right {
  float: right;
}
.nav .nav__logo {
  width: 150px;
}
.nav .nav__cart {
  width: 34px;
  float: left;
  position: relative;
}
.nav .nav--element {
  padding: 50px;
}

.nav__cart_counter {
  position: absolute;
  width: 34px;
  line-height: 50px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/* Content Block */
.block--full-width {
  width: 100%;
}

.block {
  display: block;
  /* Product Card */
}
.block .block--half {
  width: 50%;
  display: block;
}
.block .block--half-left {
  float: left;
}
.block .block--half-right {
  float: right;
}
.block .block__text {
  text-align: center;
  padding: 20% 15%;
}
.block .block__h2 {
  font-size: 40px;
}
.block .block__p {
  font-size: 20px;
  line-height: 28px;
  opacity: 70%;
}
.block .block--product-card {
  width: 350px;
  background-color: #FFFFFF;
  margin: 10% auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 10px lightgrey;
}
.block .block__product_img {
  width: 100%;
}
.block .block--product-info {
  padding: 0 20px 30px 20px;
}
.block .block__product_button {
  width: 75%;
}

/* Cart Drawer */
.cart--drawer {
  position: fixed;
  max-width: 300px;
  width: 300px;
  height: 340px;
  background-color: #FFFFFF;
  right: -300px;
  transition: 0.5s;
}

.cart--drawer-wrapper {
  width: 100%;
  height: 340px;
  display: inline-block;
}

.cart__close {
  float: right;
  width: 20px;
  padding: 15px;
  cursor: pointer;
}

.cart--drawer-nav {
  width: 100%;
  height: 50px;
}

.cart__drawer_title {
  float: left;
  padding: 0px 20px;
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.cart--text-center {
  text-align: center;
}

.cart--drawer-confirmation {
  background-color: #9feaa3;
  height: 40px;
  line-height: 40px;
  display: none;
}

.drawer--active {
  right: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px lightgrey;
  overflow-y: scroll;
  max-height: 60%;
}

/* Hiding scroll bar */
.drawer--active::-webkit-scrollbar {
  display: none;
}

.drawer--active {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart--drawer-img {
  width: 50%;
  float: left;
  font-size: 16px;
}

.cart__product_title {
  width: 50%;
  float: right;
  text-align: left;
  margin: 0;
}

.cart--info-cont > .price__format {
  margin: 0;
}

.cart--info-cont p {
  padding-top: 5px;
  width: 50%;
  float: right;
  text-align: left;
  margin: 0;
}

.cart--info-cont p:first-of-type {
  padding-top: 15px;
}

.cart__product_button {
  width: 90%;
  float: left;
  text-align: center;
  margin: 5%;
}

.cart__confirmation_p {
  margin-top: 0;
}

.cart--info-cont > #cart__drawer_price {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .block > .block--half-left, .block > .block--half-right {
    width: 100%;
  }

  .block > .block--half-right {
    background-color: #EBF6F8;
  }

  .block > .block--half > .block__text {
    padding: 0px 15% 50px 15%;
  }
}
@media (min-width: 769px) {
  body {
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #EBF6F8 50%, #EBF6F8 100%);
  }
}
@media (max-width: 768px) {
  .nav > .nav--element {
    padding: 30px;
  }
}
@media (max-width: 380px) {
  .block .block--product-card {
    width: 300px;
  }
}